/* Resetear los del navegador por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite; /* Color ofrecido por el editor */
  background-color: #F7E3B5; /* Hexadecimal */
  background-color: rgb(247, 227, 181 ); /* RGB */
}

li {
  list-style: none;
  padding: 16px;
}

header {
  background-color: gainsboro;
}

header > nav {
  font-size: 16px;
  padding: 24px;
}

header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: gainsboro;
}

#footer-contenido {
  display: flex;
  align-items: end;
  justify-content: end;
}
#footer-contenido > div {
  margin: 16px;
}

footer > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
  Formas de dar estilo a una etiqueta:

  Por su nombre:
    etiqueta 
  Por su clase:
    .etiqueta
  Por su ID o identificador unico:
    #etiqueta 
*/

/* display: flex */
/* 
  flex-direction:
    - column --- columna
    - row ------ fila
*/
/* 
  align-items: 
    - center
    - start
    - end
  justify-content: 
    - center
    - start
    - end
*/

/* display: grid */
/* 
  grid-template-columns: repeat(2, 250px);

  grid-template-rows: repeat(2, 250px);
*/